################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/IzvorniKod/.vs
/IzvorniKod/Data/bin
/IzvorniKod/DuckI.Server/bin